- import edu.duke.oit.vw.scalatra.TemplateHelpers._
-@ var style: String = ""
-@ val uriPrefix: String = ""
-@ val vivoId: String = ""
-@ val contextUri: String = ""
-@ val theme: String = ""
-@ val version: String = ""
-@ import val person: edu.duke.oit.vw.models.Person

!!! 5

html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    title Widget Builder
    link(rel="stylesheet" type="text/css" href="#{contextUri}/vw/stylesheets/reset.css")/
    link(rel="stylesheet" type="text/css" href="#{contextUri}/vw/themes/#{theme}/stylesheets/main.css")/
    link(rel="stylesheet" type="text/css" href="#{contextUri}/vw/themes/default/stylesheets/jquery.ui.datepicker.css")/
    link(rel="stylesheet" type="text/css" href="#{contextUri}/vw/stylesheets/smoothness/jquery-ui-1.8.9.custom.css")/
    script(type="text/javascript" src="#{contextUri}/vw/javascripts/jquery-1.4.4.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript")
    script(type="text/javascript" src="#{contextUri}/vw/javascripts/jquery.tmpl.js")
    script(type="text/javascript" src="#{contextUri}/vw/javascripts/knockout-1.2.1.js")
    script(type="text/javascript" src="#{contextUri}/vw/javascripts/ZeroClipboard.js")
    :javascript
      var collections = [
      { collectionName: 'Publications', description: 'Publications by this person', collectionValue: 'publications' },
      { collectionName: 'Artistic Works', description: 'Artistic Works by this person', collectionValue: 'artistic_works' },
      { collectionName: 'Awards', description: 'Awards by this person', collectionValue: 'awards' },
      { collectionName: 'Courses', description: 'Courses by this person', collectionValue: 'courses' },
      { collectionName: 'In the News', description: 'News items associated with this person', collectionValue: 'newsfeeds' },
      { collectionName: 'Grants', description: 'Grants by this person', collectionValue: 'grants' },
      { collectionName: 'Professional Activities', description: 'Outreach and service performed by this person', collectionValue: 'professional_activities' },
      { collectionName: 'Appointments', description: 'Appointments by this person', collectionValue: 'positions' },
      { collectionName: 'Addresses', description: 'Addresses by this person', collectionValue: 'addresses' },
      { collectionName: 'Overview', description: 'Overview by this person', collectionValue: 'overview' },  
      { collectionName: 'Contact', description: 'Contact by this person (email and phone)', collectionValue: 'contact' }
      ];
      var noItems = [ {label: 'all', value: 'all'}, {label: '5', value: 5}, {label: '10', value: 10}, {label: '15', value: 15} ];
      var help = {
         collectionsHelp: {title: "Collections Help", details: "You can set up a feed to display publications, courses or grants from your VIVO profile on your personal web page.  From the drop-down list on the right, select Publications, Courses, or Grants. When new publications, courses or grants are added to your VIVO page, they will also appear on the web page. The Preview panel on the right shows how the list will look based on the current selections."},
         itemsHelp: {title: "Items Help", details: "Select the number of publications, grants or courses from the drop-down list. You can display the five, 10, 15 most recent items, or all items. The Preview panel displays the list based on the current selections."},
         startDateHelp: {title: "Start Date Help", details: "If you wish to include only items after a certain date, choose that date here. Fields lacking dates, such as overviews, will ignore this setting. The Preview panel on the right displays the results based on the current selections."},
         endDateHelp: {title: "End Date Help", details: "If you wish to include only items before a certain date, choose that date here. Fields lacking dates, such as overviews, will ignore this setting. The Preview panel on the right displays the results based on the current selections."},
         formatHelp: {title: "Display Format Help", details: "Select Abbreviated to display a shorter version of your publication on your web page. Select Detailed to display the full publication.  The Preview panel shows how the items will look in either display format.  This option is currently only available for publications."},
         styleHelp: {title: "Styling Help", details: "Choose Styled to use embedded styles, or choose Unstyled to use the styles on your web page. The Unstyled selection displays items in a bulleted list. The Preview panel displays both options."},
         embedHelp: {title: "Embed Help", details: "To create a feed of publications, courses or grants from your VIVO profile on your personal web page, click the Copy button to copy this embed code to your clipboard. In the source code for your web page, paste the embed code where you'd like to display the list. When new publications, courses or grants are added to your VIVO page, they will also appear on your web page, depending on the selections you chose to create the feed."}
      }
      var viewModel = {
        chosenCollection: ko.observable(collections),
        chosenLimit: ko.observable(noItems),
        chosenStartDate: ko.observable(''),
        chosenEndDate: ko.observable(''),
        chosenFormat: ko.observable('detailed'),
        chosenStyle: ko.observable('yes'),
        latestUrl: ''
      };
    script(type="text/javascript" src="#{contextUri}/vw/javascripts/app.js")

  body(class="display" data-context-uri="#{contextUri}" data-api-version="#{version}")
    input(id="group" type="hidden" value="people")
    div(id="wrapper-main")
      div(id="branding")
        h1(class="vivo_logo")
          a(title="Scholars@Duke" href="/") VIVO
      div(id="rightCol")
        div(id="settings")
        div(id="host")
          strong A preview will appear here
        div(style="display:none" id="loading")
          img(alt="Loading..." src="#{contextUri}/vw/themes/#{theme}/images/loading.gif")/
      div(id="form")
        input(id="uri" type="hidden" value="#{person.uri}")
        h1
          a(href="#{fixURL(person.uri)}") #{person.label}&#x27;s 
          | Widgets

        ul
          li
            | Collection to Display:
            a(href="#" class="help" id="collectionsHelp") ?
            span
              select(data-bind="options: collections, optionsText: 'collectionName', value:chosenCollection, optionsValue: 'collectionValue'")
          li
            | Number of items to return:
            a(href="#" class="help" id="itemsHelp") ?
            span
              select(data-bind="options: noItems, optionsText: 'label', value:chosenLimit")
          li
            | Start Date:
            a(href="#" class="help" id="startDateHelp") ?
            span
              input(type="text" data-bind="datepicker: chosenStartDate, datepickerOptions: { onSelect: function(selected) { $('#end-date').datepicker('option', 'minDate', selected); $(this).change(); } }" id="start-date")
          li
            | End Date:
            a(href="#" class="help" id="endDateHelp") ?
            span
              input(type="text" data-bind="datepicker: chosenEndDate, datepickerOptions: { onSelect: function(selected) { $('#start-date').datepicker('option', 'maxDate', selected); $(this).change(); } }" id="end-date")
          li
            | Display Format:
            a(href="#" class="help" id="formatHelp") ?
            span
              input(id="detailed" type="radio" name="formatGroup" value="detailed" data-bind="checked: chosenFormat")/
              label(for="detailed") Detailed
              input(id="abbreviated"type="radio" name="formatGroup" value="abbreviated" data-bind="checked: chosenFormat")/
              label(for="abbreviated") Abbreviated
          li
            | Styling:
            a(href="#" class="help" id="styleHelp") ?
            span
              input(id="styled" type="radio" name="styleGroup" value="yes" data-bind="checked: chosenStyle")/
              label(for="styled") Styled
              input(id="unstyled" type="radio" name="styleGroup" value="no" data-bind="checked: chosenStyle")/
              label(for="unstyled") Unstyled
          li(class="no_border")
            p
              | Your Embed Code:
              / a(href="#" class="help" id="embedHelp") ?
            textarea(id="embed"  rows="5" name="embed")
            p(class="instructions")
              | After making your selection, copy and paste the embed code above. 
              | The code changes based on your selection.
          li(class="no_border")
            div(id="d_clip_container" style="position:relative")
              div(id="d_clip_button"  class="btn vivo-style") Copy to Clipboard
          li(class="no_border")
            div(id="js_d_clip_container" style="position:relative")
              div(id="js_d_clip_button"  class="btn vivo-style") Copy to sites.duke.edu
          span(id="embed2" style="display:none;")
          li(class="no_border")
            a(id="advanced" href="#" class="btn vivo-style") Advanced
          li(style="display:none" id="otherFormats")
            h1 Other formats
            p Based on configuration options selected above
            a(href="#" target="_blank" id="json") JSON
            a(href="#" target="_blank" id="jsonp") JSONP
            a(href="#" target="_blank" id="html") HTML
            a(href="#" target="_blank" id="js") JavaScript
            h1 Complete feed
            p All data for the faculty member
            a(href="#" target="_blank" id="fullJson") JSON
            a(href="#" target="_blank" id="fullJsonp") JSONP
    = render(tpath("builder/google_analytics.jade"))


