-# include template helpers
- import edu.duke.oit.vw.scalatra.TemplateHelpers._
-@ var formatting: String = "abbreviated"

-# using "it", see http://scalate.fusesource.org/documentation/user-guide.html#DRY_IT
-@ import var it: edu.duke.oit.vw.models.Publication

- val year = it.getOrElse("year","").split("-")(0)

- val startDate = it.getOrElse("startDate","")
- val finishDate = it.getOrElse("finishDate","")

- formatting match 
  - case "abbreviated" =>
    span
      ! #{label} 
      - if (!empty(year))
        | (#{year})
  - case _ =>
    = render(tpath("shared/" + subType + ".jade"), Map("it" -> it, "year" -> year, "startDate" -> startDate, "finishDate" -> finishDate))
    -# span #{label} (#{year}) #{vivoType} - #{subType}
