-# include template helpers
- import edu.duke.oit.vw.scalatra.TemplateHelpers._

- import edu.duke.oit.vw.models.Newsfeed
-@ var newsfeeds: List[Newsfeed]
-@ var style: String

-# for debugging
-# - for(newsfeed <- newsfeeds)
-#   = newsfeed

-# if we are styling, set a couple of variables
- val ulStyle = if(style == "yes") " list-style:none;border:solid 1px #CCC;-moz-border-radius: 15px;border-radius: 15px;margin:3px;padding:4px; " else ""
- val liStyle = if(style == "yes") " margin:.45em;padding:.45em; " else ""

ul(style=ulStyle)
  - for (newsfeed <- newsfeeds)
    li(style=liStyle) 
      | #{newsfeed.label}. 
      | #{newsfeed.get("newsSource")}. 
      | #{newsfeed.get("datetime")} 
      | #{newsfeed.get("newsLink")}


      a(onmouseout="this.style.textDecoration ='underline';"
        onmouseover="this.style.textDecoration ='none';this.style.cursor='pointer'" 
        style="color:#2485AE;text-decoration:underline" 
        href="#{fixURL(newsfeed.uri)}") More info
