- import edu.duke.oit.vw.scalatra.TemplateHelpers._
- import edu.duke.oit.vw.models.Publication
-@ var publications: List[Publication]
-@ var style: String
-@ val searchURI: String = ""

-# for debugging
-# - for(publication <- publications)
-#   = publication.title

-# if we are styling, set a couple of variables
- val ulStyle = if(style == "yes") " list-style:none;border:solid 1px #CCC;-moz-border-radius: 15px;border-radius: 15px;margin:3px;padding:4px; " else ""
- val liStyle = if(style == "yes") " margin:.45em;padding:.45em; " else ""

ul(style=ulStyle)
  - for(publication <- publications)

    - val conferenceStartDateMonth = publication.get("conferenceStartDateMonth")
    - val conferenceStartDateDay = publication.get("conferenceStartDateDay")
    - val conferenceStartDateYear = publication.get("conferenceStartDateYear")
    - val conferenceStartDateFull = if(conferenceStartDateMonth != "" || conferenceStartDateDay != "" || conferenceStartDateYear != "") conferenceStartDateMonth + "/" + conferenceStartDateDay + "/" + conferenceStartDateYear
    - val conferenceFinishDateMonth = publication.get("conferenceFinishDateMonth")
    - val conferenceFinishDateDay = publication.get("conferenceFinishDateDay")
    - val conferenceFinishDateYear = publication.get("conferenceFinishDateYear")
    - val conferenceFinishDateFull = if(conferenceFinishDateMonth != "" || conferenceFinishDateDay != "" || conferenceFinishDateYear != "") " - " + conferenceFinishDateMonth + "/" + conferenceFinishDateDay + "/" + conferenceFinishDateYear
    -# val conferenceDates = if(conferenceStartDateFull !="" || conferenceFinishDateFull !="") conferenceStartDateFull + conferenceFinishDateFull
    -# val confStart = if(conferenceStartDateFull != "") conferenceStartDateFull

    li(style=liStyle)
      = render(tpath("shared/citation.jade"), Map("it" -> publication))
      -# if(!empty(conferenceStartDateFull))
      -# "error: overloaded method value empty with alternatives: (valueOption: Option[String])Boolean <and> (value: String)Boolean cannot be applied to (Any)"
        | #{conferenceStartDateFull}
      -# if (!empty(conferenceFinishDateFull))
      -#| #{conferenceFinishDateFull}

      | #{conferenceStartDateFull}#{conferenceFinishDateFull}

      a(onmouseout="this.style.textDecoration ='underline';"
        onmouseover="this.style.textDecoration ='none';this.style.cursor='pointer'"
        style="color:#2485AE;text-decoration:underline"
        href="#{fixURL(publication.uri)}") More info


